rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /lessons/{lesson} {
      allow read: if true; // Public read access
      allow write: if request.auth != null; // Only authenticated users can write
    }
  }
}